* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    opacity: 1;
    transition: opacity 0.5s ease;
}

body.saindo {
    opacity: 0;
}
.header {
    position: fixed;
    z-index: 99999;
    transition: transform 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Esconde o header utilizando JavaScript */
.header.escondido {
    transform: translateY(-100%);
}

/* Elementos dentro de header */
.header h1 {
    width: 33%;
    display: flex;
    justify-content: center;
}

.relogioContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
}

/* Menu dentro de header */
.menu {
    display: flex;
    width: 33%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
 
/* Elementos dentro de Menu */
.menu a {
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    height: 100%;
}

.menu a:hover {
    background-color: rgb(49, 49, 49);
}

/* Campo de busca */
#campoBusca {
    display: flex;
    justify-content: space-between;
    margin-top: 16vh;
    width: 60%;
    height: 6vh;
    border: solid 0.1rem rgb(56, 56, 56);
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(20, 20, 20, 0.119);
}
 /* Input/elementos dentro do campo de busca */
#inputBusca {
    border: none;
    /* Topo-Esq (1.5rem), Topo-Dir (0), Fundo-Dir (0), Fundo-Esq (1.5rem) */
    border-radius: 1rem 0 0 1rem;
    background-color: none;
    width: 94%;
    margin-left: 1%;
    height: 100%;
    outline: none;
    font-size: 20px;
    display: flex;
    align-items: center;
}

#inputBusca::placeholder {
    color: rgb(29, 29, 29);
}

/* Icone de lupa dentro do buttom */
.lupaBusca {
    border: none;
    border-radius: 0 1.5rem 1.5rem 0;
    width: 5%;
    background-color: rgb(68, 68, 68);
}

.lupaBusca:hover {
    cursor: pointer;
    background-color: blue;
}

/* Icone da lupa */
i {
    color: white;
}

/* main */
.conteudo {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/* Campo da noticia */
.noticia {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 35px;
    margin-top: 10vh;
}

/* Titulo da noticia */
.noticia h2 {
    font-size: 35px;
}

/* Subtitulo da noticia */
.noticia p {
    font-size: 20px;
}

/* Container com imagem e texto da noticia */
.informacao {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    gap: 2%;
    height: 55vh;
}

/* Imagem da noticia */
.informacao img {
    width: 53%;
    border-radius: 0.3rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Informação sobre a noticia */
.textoNoticia {
    background-color: rgba(235, 235, 235, 0.208);
    border-radius: 1rem;
    height: 100%;
    width: 45%;
    padding: 15px;
    box-shadow: 0px 4px 20px rgba(175, 175, 175, 0.3);
    line-height: 1.4;
}

/* Footer */
.rodape {
    margin-top: 10vh;
    background-color: rgb(29, 29, 29);
    color: white;
    height: 9vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* NewsToday direitos reservados */
.rodape h3 {
    width: 45%;
    margin-left: 5%;
}

/* Lista de redes sociais para contato */
.redesSociais {
    display: flex;
    justify-content: right;
    width: 45%;
    margin-right: 5%;
}

/* Icones das redes */
.redesSociais i {
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
}

/* Css pages/contato.html */
.contato{
    height: 100%;
    margin-bottom: 5vh;
}

.listaContatos {
    font-size: 22px;
    width: 50%;
}

.listaContatos li {
    margin-bottom: 5%;
    list-style: none;
}

.listaContatos i{
    margin-right: 2%;
}

/* cores individuais dos icones */
.email {
    color: black;
}

.instagram {
    border-radius: 6px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.linkedin{
    color: #0A66C2;
}

.whatsapp{
    background-color:#25d366;
    border-radius: 10px;
}

/* Animação de carregar o conteúdo ao trocar de página */

/* Faz o conteúdo aparecer de forma suave */
.conteudo {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

/* Página carregada */
.conteudo.ativo {
    opacity: 1;
    transform: translateY(0);
}

/* Saindo da página */
.conteudo.saindo {
    opacity: 0;
    transform: translateY(-20px);
}

/* Media Query ======================================================================================

/* =========================
   TABLETS (até 1024px)
   ========================= */
@media screen and (max-width: 1024px) {

    /* header */
    .header {
        height: auto;
        flex-wrap: wrap;     
        padding: 15px;
        gap: 10px;
    }

    .header h1 {
        width: 100%;
        font-size: 40px;
    }

    .relogioContainer {
        width: 100%;
        font-size: 22px;
    }

    .menu {
        margin-top: 2vh;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        font-size: 1.6rem;
    }

    .menu a {
        height: 40px;
    }

    /* Campo busca */
    #campoBusca {
        height: 5vh;
        width: 85%;
        margin-top: 20vh;
    }

    #inputBusca{
        width: 90% !important;
        font-size: 22px !important;
    }

    .lupaBusca {
        width: 8%;
        font-size: 20px;
    }

    /* Noticias */

    .noticia h2{
        font-size: 2.5em !important;

    }

    .noticia p{
        font-size: 1.8rem !important;
    }
    .informacao {
        flex-direction: column;
        height: auto;
        margin-top: 3vh !important;
    }

    .informacao img {
        width: 100%;
    }

    .textoNoticia {
        font-size: 30px;
        width: 100%;
        height: auto;
    }

    .listaContatos {
        width: 80%;
        font-size: 2rem;
    }

    .rodape{
        margin-top: 13vh;
    }
    .rodape h3{
        font-size: 1.6rem;
    }

    .redesSociais i{
        font-size: 2rem;
    }
}

/* =========================
   CELULARES (até 768px)
   ========================= */
@media screen and (max-width: 768px) {

    .header {
        height: auto;
        /* flex-direction: column; */
    }

    .header h1 {
        width: 100%;
        font-size: 28px;
    }

    .relogioContainer {
        width: 100%;
        font-size: 18px;
    }

    .menu {
        font-size: 1.3rem;
    }

    .menu a {
        width: auto;
        padding: 10px;

    }

    #campoBusca {
        width: 95%;
        margin-top: 26vh;
        height: 50px;
    }

    #inputBusca {
        width: 88%;
    }

    .lupaBusca {
        width: 12%;
    }

    .conteudo {
        width: 95%;
        margin: 0;
    }

    .noticia {
        padding: 20px;
        margin-top: 7vh;
    }

    .noticia h2 {
        font-size: 2rem !important;
    }

    .noticia p {
        font-size: 1.5rem !important;
    }

    .informacao {
        flex-direction: column;
        gap: 20px;
        height: auto;
    }

    .informacao img {
        width: 100%;
        height: auto;
    }

    .textoNoticia {
        width: 100%;
        height: auto;
    }

    .listaContatos {
        width: 100%;
        font-size: 1.5rem;
    }

    .rodape h3 {
        width: 100%;
    }

    .redesSociais {
        width: 100%;
    }

    .redesSociais i {
        margin: 0 10px;
    }


}

/* =========================
   CELULARES PEQUENOS (até 480px)
   ========================= */
@media screen and (max-width: 480px) {

    .header h1 {
        font-size: 24px;
    }

    .noticia h2 {
        font-size: 20px;
    }

    .noticia p,
    .textoNoticia {
        font-size: 15px;
    }

    #campoBusca {
        margin-top: 40vh;
        height: 50px;
    }

    .lupaBusca {
        width: 15%;
    }

    #inputBusca {
        width: 85%;
    }

    .menu {
        flex-direction: column;
    }

    .menu a {
        width: 100%;
    }

     .rodape h3{
        font-size: 1.3rem;
    }

    .redesSociais i{
        font-size: 1.5rem;
    }
}